@import url("./reset.css");

:root {
  --primary-colour: #050505;
  --secondary-colour: #e9d985;
  --background-colour: #260c1a;
  --background-colour: #553739;
  --board-colour: #748e54;
}

body {
  padding: .2em 0.5em;
  background: var(--background-colour);
  font-size: 2em;
}
h1{
  color: var(--secondary-colour);
  font-size: 2em;
  font-weight: 700;
  padding: .2em;
  text-align: center;
}
img {
  max-width: 100%;
}
.board {
  position: relative;
  width: 1200px;
  height: 800px;
  background: var(--board-colour);
  margin: 0 auto;
  padding: 0.25em;
}
/* Images */
.mouse {
  position: absolute;
  width: 75px;
  height: 75px;
  z-index: 2;
}

.mouse-hole {
  position: absolute;
}
.rock {
  position: absolute;
  width: 100px;
}
.grass{
  position: absolute;
  width: 100px;
}
.cat{
  position: absolute;
  width: 150px;
  height: 125px;
}
/* Fades and Messages */
.fadein {
  transition: opacity 2s linear;
  transform: translate(70);
  opacity: 1;
  z-index: 1;

}
.fadeout {
  transition: opacity 2s linear;
  transform: translate(70);
  opacity: 0;
}
.hidden {
  transition: opacity 2s linear;
  transform: translate(70);
  opacity: 0;
}
.show {
  transition: opacity 2s linear;
  transform: translate(70);
  opacity: 1;
  z-index: 1;

}

.message-div {
  margin: 2em auto;
  text-align: center;
  background: var(--background-colour);
  color: var(--secondary-colour);
  width: 400px;
  padding: 1em 0.5em;
}
